# =============================================================================
#  GLOBAL ENV VARS
# =============================================================================

export VPC_ID=
export REGION=


# =============================================================================
#  REPORT REGION COSTS ENV VARS
# =============================================================================

export START=
export END=

# Only one granularity type needs to be set to true.
export HOURLY=
export DAILY=
export MONTHLY=
export TAG=


# =============================================================================
#  SCAN CLUSTER ENV VARS
# =============================================================================

export CLUSTER_ARN=

export SKIP_KAFKA=
export USE_SASL_IAM=
export USE_SASL_SCRAM=
export USE_UNAUTHENTICATED=
export USE_TLS=

# Provide with --use-sasl-scram or USE_SASL_SCRAM=true:
export SASL_SCRAM_USERNAME=msk-username
export SASL_SCRAM_PASSWORD=msk-password

# Provide with --use-tls or USE_TLS=true:
export TLS_CA_CERT=path/to/ca-cert.pem
export TLS_CLIENT_CERT=path/to/client-cert.pem
export TLS_CLIENT_KEY=path/to/client-key.pem


# =============================================================================
#  CREATE ASSET BASTION HOST ENV VARS
# =============================================================================

export BASTION_HOST_CIDR=


# =============================================================================
#  CREATE ASSET MIGRATION-INFRA ENV VARS
# =============================================================================

export JUMP_CLUSTER_BROKER_SUBNET_CONFIG=
export CC_ENV_NAME=
export CC_CLUSTER_NAME=
export CC_CLUSTER_TYPE=
export CC_API_KEY=
export CC_API_SECRET=
export ANSIBLE_CONTROL_NODE_SUBNET_CIDR=
export TYPE=


# =============================================================================
#  CREATE ASSET REVERSE-PROXY ENV VARS
# =============================================================================

export REVERSE_PROXY_CIDR=
export MIGRATION_INFRA_FOLDER=
