confluent_cloud_provider         = "{{.ConfluentCloudProvider}}"
confluent_cloud_region           = "{{.ConfluentCloudRegion}}"
confluent_cloud_environment_name = "{{.ConfluentCloudEnvironmentName}}"
confluent_cloud_cluster_name     = "{{.ConfluentCloudClusterName}}"
confluent_cloud_cluster_type     = "{{.ConfluentCloudClusterType}}"

ansible_control_node_subnet_cidr = "{{.AnsibleControlNodeSubnetCIDR}}"

msk_cluster_id                  = "{{.MSKClusterID}}"
msk_cluster_bootstrap_brokers   = "{{.MSKClusterBootstrapBrokers}}"
msk_cluster_arn                 = "{{.MSKClusterARN}}"

confluent_platform_broker_iam_role_name = "{{.ConfluentPlatformBrokerIAMRoleName}}"

customer_vpc_id               = "{{.CustomerVPCID}}"
aws_zones = [
{{- range $index, $zone := .AWSZones}}
{{- if $index}},{{end}}
  { "cidr" : "{{$zone.CIDR}}", "zone" : "{{$zone.Zone}}" }
{{- end}}
]
aws_region = "{{.AWSRegion}}"
aws_security_group_ids = "{{.SecurityGroupIds}}"
