confluent_cloud_provider         = "{{.ConfluentCloudProvider}}"
confluent_cloud_region           = "{{.ConfluentCloudRegion}}"
confluent_cloud_environment_name = "{{.ConfluentCloudEnvironmentName}}"
confluent_cloud_cluster_name     = "{{.ConfluentCloudClusterName}}"

msk_cluster_id                = "{{.MSKClusterID}}"
msk_cluster_bootstrap_brokers = "{{.MSKClusterBootstrapBrokers}}"
