resource "confluent_service_account" "{{.Principal | lower}}" {
  display_name = "{{.Principal}}"
  description  = "Service Account for {{.Principal}}"
}
{{range $index, $acl := .Acls}}
resource "confluent_kafka_acl" "{{$acl.Permission | lower}}_{{$acl.ResourceType | lower}}_{{$acl.Operation | lower}}_{{$index}}" {
  resource_type = "{{$acl.ResourceType}}"
  resource_name = "{{$acl.ResourceName}}"
  pattern_type  = "{{$acl.PatternType}}"
  principal     = "User:${confluent_service_account.{{$.Principal}}.id}"
  host          = "{{$acl.Host}}"
  operation     = "{{$acl.Operation}}"
  permission    = "{{$acl.Permission}}"
}
{{end}}
