aws_region                                   = "{{.AWSRegion}}"
public_subnet_cidr                           = "{{.PublicSubnetCIDR}}"
vpc_id                                       = "{{.VPCID}}"
confluent_cloud_cluster_bootstrap_endpoint   = "{{.ConfluentCloudClusterBootstrapEndpoint}}"
